---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHub from "../icons/github.astro";
import Mail from "../icons/correo.astro";
import SocialPill from "../components/SocialPill.astro";
import TimeLine from "../components/TimeLine.astro";
import SectionContainer from "../components/sectionContainer.astro";
import Briefcase from "../icons/briefcase.astro";
import CodeIcon from "../icons/codeIcon.astro";
import Project from "../components/projectos.astro";

---

<Layout
  title="Portfolio de Robert Fernandez -  Desarrollador y programador web"
  description=""
>
  <main>
    <SectionContainer class="py-20 pb-24">
      <div class="flex flex-col gap-y-4 md:flex md:flex-row-reverse md:items-center sm:gap-x-2 md:gap-x-6">
        <figure class="md:flex md:flex-[7] md:justify-center sm:flex sm:flex-[4]">
          <img
          class="rounded-full size-32 md:size-40"
          src=`/projects/images/yo.jpg`
          alt="RobertFoto"
        />
        </figure>
        <div class="md:flex-[20] ">
          <h1 class="text-white text-4xl text-pretty font-bold flex flex-col sm:flex-row gap-x-1 pb-2">
            Hola,<Badge class="block sm:inline">Soy Robert</Badge>
          </h1>
          <h2
            class="font-semibold inline-flex animate-background-shine bg-[linear-gradient(110deg,#64748b,45%,#0f172a,55%,#64748b)] dark:bg-[linear-gradient(110deg,#b6eaff,45%,#8b5cf9,55%,#b6eaff)] bg-[length:250%_100%] bg-clip-text text-2xl text-transparent"
          >
            Desarrollador Web
          </h2>
          <p class="lg:text-xl text-xl text-wrap max-w-[700px]">
            Tecnólogo en Análisis y Desarrollo de Software con especialización en
            soluciones web. Experto en el desarrollo de aplicaciones eficientes y
            escalables, centrado en mejorar la experiencia del usuario y optimizacion
            procesos.
          </p>
        </div>
      </div>
      <nav class="flex gap-4 mt-6 flex-wrap">
        <SocialPill href="google.com">
          <GitHub class="size-6 shrink-0" />
          <span class="break-all">GitHub</span>
        </SocialPill>

        <SocialPill>
          <Mail class="size-6 shrink-0" />
          <span class="break-all">fernandezhernandezr4@gmail.com</span>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-2 items-center">
        <Briefcase />Experiencia
      </h2>
      <TimeLine />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-2 items-center">
        <CodeIcon />Proyectos
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <Project />
      </div>
    </SectionContainer>
  </main>
</Layout>
